
#pagelet_bookmark_nav, /* Left column: Bookmarks */
a[href*="lists"], /* Left column: Lists like 'Close Friends' */
div[id*="ticker"], /* Right column / Chat sidebar: news ticker */
div[id*="pagelet_trending_tags_and_topics"] /* Right column: Trending tags and topics */
{
  display: none !important;
}

/* News feed - Needs visibility:hidden to prevent endless refreshing */
div[id*="topnews"] { 
	visibility: hidden !important;
}