<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>rakeshkadamati</string>
	<key>Builder Version</key>
	<string>12602.3.12.0.1</string>
	<key>CFBundleDisplayName</key>
	<string>zen-facebook</string>
	<key>CFBundleIdentifier</key>
	<string>com.rakeshkadamati.zen-facebook</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Stylesheets</key>
		<array>
			<string>zen-facebook.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Toggle Facebook news feed</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>www.facebook.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/rakeshkadamati/zen-facebook</string>
</dict>
</plist>
